<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Pedidos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Cadastro de Pedidos</h1>
    <h2>Olá, <span th:text="${nome}">visitante</span>! Seja bem-vindo ao nosso sistema! Abaixo estão os campos de preenchimento de dados sobre os pratos.</h2>
    <form th:action="@{/cadastroPedido/salvar}" method="post">
        <div>
            <label for="">Nome do pedido: </label>
            <input type="text" name="nomePedido" id=""></div>
        <div>
            <label for="">Categoria: </label>
            <select name="categoria">
                <option value="bebida">Bebida</option>
                <option value="comida">Comida</option>
            </select>
        </div>
        <div>
            <label for="">Preço: </label>
            <input type="number" name="precoPedido" id="" step="0.01">
        </div>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>